---
swagger: '2.0'
info:
  version: 0.0.5
  title: No Instances API {{ ansible_date_time.epoch }}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /:
    get:
      summary: Static mock
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: '{"statusCode": 200}'
        responses:
          default:
            statusCode: '200'
            responseTemplates:
              application/json: >
                {
                  "message": "Hello! Try one of the paths.",
                  "paths": ["proxy", "people", "photos", "test/dynamoping", "test/echo"]
                }
  /proxy:
    get:
      summary: Get data from remote server
      responses:
        '200':
          description: Successful operation
        '500':
          description: Failed to retrieve data from remote server
      x-amazon-apigateway-integration:
        type: http
        httpMethod: GET
        uri: https://api.github.com
        responses:
          '200':
            statusCode: '200'
          default:
            statusCode: '500'
            responseTemplates:
              application/json: >
                {"status": "unexpected response"}
  /people:
    get:
      summary: Get a list of people
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.dynamocrud }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        requestTemplates:
          application/json: >
            {"operation": "list"}
        responses:
          default:
            statusCode: '200'
    post:
      summary: Add a new person
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.dynamocrud }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        responses:
          default:
            statusCode: '200'
  '/people/{id}':
    get:
      summary: Get person by id
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: query
          name: filter
          required: false
          type: string
      responses:
        '200':
          description: Successful operation
        '404':
          description: Person not found
        '500':
          description: Stuff broke
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.dynamocrud }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        requestTemplates:
          application/json: >
            {
              "id": "$input.params('id')",
              "operation": "getById"
            }
        requestParameters:
          integration.request.path.integrationPathParam: method.request.querystring.id
          integration.request.querystring.integrationQueryParam: method.request.querystring.filter
        responses:
          '200':
            statusCode: '200'
            responseTemplates:
              application/json: >
                {"status": "200 yay we found what you were looking for"}
          '404':
            statusCode: '404'
            responseTemplates:
              application/json: >
                {"status": "404 stuff not found"}
          default:
            statusCode: '500'
            responseTemplates:
              application/json: >
                {"status": "unexpected response"}
  /photos:
    get:
      summary: Get a list of photos
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.objectstore }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        responses:
          default:
            statusCode: '200'
  /test/dynamoping:
    get:
      summary: Test invocation of dynamocrud Lambda function
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.dynamocrud }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        requestTemplates:
          application/json: >
            {
              "operation": "ping",
              "source": "api_gateway"
            }
        responses:
          default:
            statusCode: '200'
  /test/echo:
    get:
      summary: Echo back as much as possible
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.echo }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        requestTemplates:
          application/json: >
            {
              "requestparameters": "$input.params()",
              "requestcontext": "$context.httpMethod"
            }
        responses:
          default:
            statusCode: '200'
    post:
      summary: Echo back as much as possible
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.echo }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        requestTemplates:
          application/json: >
            {
              "requestparameters": "$input.params()",
              "requestbody": $input.json("$")
            }
        responses:
          default:
            statusCode: '200'
    put:
      summary: Echo back as much as possible
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.echo }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        requestTemplates:
          application/json: >
            {
              "requestparameters": "$input.params()",
              "requestbody": $input.json("$")
            }
        responses:
          default:
            statusCode: '200'
    delete:
      summary: Echo back as much as possible
      responses:
        '200':
          description: Successful operation
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.echo }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        requestTemplates:
          application/json: >
            {
              "requestparameters": "$input.params()"
            }
        responses:
          default:
            statusCode: '200'
