---
swagger: '2.0'
info:
  version: 0.0.1
  title: No Instances API (Swagger)
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /people:
    get:
      responses:
        200:
          description: A response
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.dynamocrud }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        responses:
          default:
            statusCode: "200"
    post:
      responses:
        200:
          description: A response
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.dynamocrud }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        responses:
          default:
            statusCode: "200"
  /photos:
    get:
      responses:
        200:
          description: A response
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.objectstore }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        responses:
          default:
            statusCode: "200"
  /test/dynamo:
    get:
      responses:
        200:
          description: A test interface
      x-amazon-apigateway-integration:
        uri: {{ arn_prefix_lambda }}{{ lambda_stack.stack_outputs.dynamocrud }}/invocations
        credentials: {{ arn_prefix_role }}{{ base_stack.stack_outputs.ApiGatewayRoleName }}
        type: aws
        httpMethod: POST
        requestTemplates:
          application/json: '{"operation": "ping", "source": "api_gateway"}'
        responses:
          default:
            statusCode: "200"
